/*
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name
*/

.raleway-900 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.raleway-800 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.raleway-700 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway-600 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.raleway-500 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.raleway-400 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-300 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.raleway-200 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.raleway-100 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Raleway", sans-serif;
}

h1, h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}



.header{
    width: 1280px;
    height: 73px;
    background-color: black; 
}

.header h1{
color:white;
margin: 0px;
text-align: center;
}

.banner{
    width: 1280px;
    height: 727px;
    top: 73px;
    background: transparent url('img/photo-1516008805996-d2abb468cc9a.png') 0% 0% no-repeat padding-box;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width:1000px;
    margin: auto;
    padding:20px;
    background-color: black;
    color: white;
}
.texto {
    width: 60%;
}

.contenedor img {
    width:35%;
    max-width: 300px;
}

.div img{
    width: 30%;
    max-width: 200px;
}

body {
    margin: 0px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.flex div {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.flex img {
    width: 30%;
    max-width: 250px;
}

.caracteristicas {
    background-color: #1E1A13;
    padding: 20px;
    text-align: center;
    color: white;
    top: 1216px;
    left: 464px;
}

.footer {
    height: 7em;
    line-height: 3em;
    background-color: #1E1A13;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer a {
    color: white
}

